@import '~@angular/material/theming';
@import "./variables.scss";

@include mat-core();

$myissue-primary: mat-palette($mi-cp);
$myissue-accent: mat-palette($mi-cs);
$myissue-warn: mat-palette($mat-red);

$myissue-theme: mat-light-theme((
	color: (
		primary: $myissue-primary,
		accent: $myissue-accent,
		warn: $myissue-warn,
		)
));

@include angular-material-theme($myissue-theme);