
/* --------------- Default colors --------------- */

$mi-bg1: #f1f2f5;
$mi-font1: #434f5d;

$mi-bg2: #fff;
$mi-font2: #434f5d;

$mi-bg3: #2196F3;
$mi-font3: #fff;

$mi-cp: #8bc34a;
$mi-cp-light: #bef67a;
$mi-cp-dark: #5a9216;
$mi-cs: #ffd54f;
$mi-cs-light:#ffff81;
$mi-cs-dark:#c8a415;