.line {
    // width: 30%;
    transition: background-color 150ms ease-in-out;
    padding: 0 0 0 10px;
    border-radius: 3px;
    &:hover {
        background-color: #eee;
        .mat-icon {
            opacity: 1;
        }
    }

    .details {
        color: grey;
        font-size: 0.8em;
        justify-self: flex-end;
    }
}

.mat-icon {
    color: grey;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}