<div *ngIf="this.drawer() else nodrawer" (swiperight)="snav.open()" (swipeleft)="snav.close()">
  <div class="tb" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Shopairs</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="! mobileQuery.matches" #sidenav (click)="mobileQuery.matches ? sidenav.toggle(): sidenav.open()">
            <mat-nav-list>
                <app-menu></app-menu>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content >
          <main>
              <div class='aligner' fxLayout="column" fxLayoutAlign="stretch center">
                  <router-outlet></router-outlet>
              </div>
          </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<ng-template #nodrawer>
  <mat-toolbar color="primary">
    <div class="landing" [ngClass]="{'small': mobileQuery.matches}">
      <h1 (click)="this.router.navigate(['/'])">Shopairs</h1>
      <div class='login-btns'>
        <button (click)="this.router.navigate(['/login'])" mat-button>Sign in</button>
        <button (click)="this.router.navigate(['/register'])" mat-raised-button color="accent">Sign up</button>
      </div>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</ng-template>