@import "../assets/styles/variables";


.mat-drawer-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 64px !important;

	main {
		margin: 0 30px;
		padding: 0;
	}
	.mat-drawer {
		width: 260px;
        background-color: darken(white, 70) !important;
	}
	.mat-drawer-side {
		border-right: 0 !important;
	}
}

.aligner {
	padding-top: 50px;
	// background-color: $mi-cs;
}