@import "../../../assets/styles/variables";

.mat-expansion-panel {
  $width: 70%; // width of list title
  // width: 60vw;
  width: 700px;
  max-width: 98vw;
  margin: 15px;

  @media screen and (min-width: $tablet-break){    
    // max-width: calc(100vw - 200px);
    // color: pink;
  }

  mat-panel-description { 
    flex-grow: 0 !important;
  }

  .mat-expansion-panel-header-title {
    font-weight: 500;
    font-size: 1.2em !important;
    // width: $width !important;
  }

    .mat-expansion-panel-header-description {
      color: grey !important;
      // text-align: left !important;
      // width: calc(100% - #{$width}) !important;
      justify-content: space-between;
      align-items: center;
    }
    
}

ul {
  list-style-type: none;
  margin: 4px 0;
  padding-left: 5px;
}

mat-panel-title {
      align-self: center !important;
}

.addItemInput {
  margin-top: 15px;

}
.icon-box {
  width: 85px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

@media screen and (max-width: $mobile-break) {
  .count-display {
    display: none;
  }
}

mat-form-field {
  width: 100%
}