<h2 mat-dialog-title>Rename shopping list</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field style="width: 30vw;" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="e.g. To dinner" [(ngModel)]="inputValue" (keydown.enter)="save()">
  </mat-form-field>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="accent" mat-raised-button (click)="save()">Rename</button>
</mat-dialog-actions>
