@import "../../../../assets/styles/variables";

.line {
    // width: 30%;
    transition: background-color 150ms ease-in-out;
    padding: 0 0 0 10px;
    border-radius: 3px;
    &:hover {
        background-color: #eee;
        .mat-icon {
            opacity: 1 !important;
        }
    }

    @media screen and (max-width: $tablet-break) {
        .mat-icon {
            opacity: 0.7;
        }
    }

    .details {
        color: grey;
        font-size: 0.8em;
        justify-self: flex-end;

        .mat-icon {
            font-size: 0.8em
        }

        .mat-icon{
            height:25px !important;
            width:25px !important;
            font-size:0.8em !important;
        }
    }
}

.mat-icon {
    color: grey;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}