<mat-card style="width: 60vw">
    <mat-card-header>
        <mat-card-title>Settings</mat-card-title>
    </mat-card-header>
    
    
    <mat-card-content>
        <div class='aligner' fxLayout="column" fxLayoutAlign="space-evenly start">
            <mat-form-field appearance="outline">
                <mat-label>Your name</mat-label>
                <input matInput value="Joe Jack">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Your email</mat-label>
                <input readonly matInput value="joe.jack@gmail.com">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter your password again</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Leave both input empty if you don't want to change your password</mat-hint>
            </mat-form-field>
        </div>
    </mat-card-content>
    
    
    <mat-card-actions align='end'>
        <button  (click)="openSnackBar()" mat-raised-button color="accent">Save</button>
    </mat-card-actions>
</mat-card>

<mat-card style="width: 60vw; margin:50px 0; word-break: break-all;"> 
    <mat-card-title>
        User JWT
    </mat-card-title>
    <p>{{ this.token }}</p>
</mat-card>