.plus-btn {
  top: auto !important;
  right: 30px !important;
  bottom: 50px !important;
  left: auto !important;
  position: fixed !important;
}

mat-form-field {
  width: 100%
}

.mat-dialog-content {
  max-height: unset !important;
  height: 130px !important;
}
// mat-dialog-content {
  // width: 100%;
  // max-width: 500px;
// }