<mat-accordion>

  <app-list *ngFor="let list of lists" [data]="list"></app-list>

  <!-- <mat-expansion-panel (opened)="openA = true" (closed)="openA = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        For birthday party
      </mat-panel-title>
      <mat-panel-description>
        5/23 item
        <div *ngIf="openA; then thenBlockA else elseBlockA"></div>
        <ng-template #thenBlockA>
          <span style="align-self: flex-end;">
            <button mat-icon-button aria-label="Delete list">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Edit list">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </ng-template>
        <ng-template #elseBlockA>
          <mat-icon>timelapse</mat-icon>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <mat-checkbox labelPosition="after">
        This is the primary panel
      </mat-checkbox>
    </p>
    <button mat-mini-fab color="primary" aria-label="Plus button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="openB = true" (closed)="openB = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        LIDL big inbuying
      </mat-panel-title>
      <mat-panel-description>
        40/42 items
        <div *ngIf="openB; then thenBlockB else elseBlockB"></div>
        <ng-template #thenBlockB>
          <span style="align-self: flex-end;">
            <button mat-icon-button aria-label="Delete list">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Edit list">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </ng-template>
        <ng-template #elseBlockB>
          <mat-icon>timelapse</mat-icon>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <mat-checkbox labelPosition="after">
        flour
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after">
        coconut
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after">
        essential oil
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after" >
        milk
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after">
        Christmas calendar
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after">
        Axe desodorant
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox labelPosition="after">
        Shampoo
      </mat-checkbox>
    </p>
    <button mat-mini-fab color="primary" aria-label="Plus button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="openC = true" (closed)="openC = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tesco
      </mat-panel-title>
      <mat-panel-description>
        30/30 items
        <div *ngIf="openC; then thenBlockC else elseBlockC"></div>
        <ng-template #thenBlockC>
          <span style="align-self: flex-end;">
            <button mat-icon-button aria-label="Delete list">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Edit list">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
        </ng-template>
        <ng-template #elseBlockC>
          <mat-icon>done</mat-icon>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <mat-checkbox labelPosition="after">
        I'm visible because I'm open.
      </mat-checkbox>
    </p>
    <button mat-mini-fab color="primary" aria-label="Plus button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-expansion-panel> -->

</mat-accordion>
<app-new-button></app-new-button>