
@import "../../assets/styles/variables";

.mat-list {
	padding-top: 0;
	.mat-list-item {
		color: $mi-font3 !important;
		position: relative;
		cursor: pointer;
		outline: none;
		z-index: 1;
		-webkit-transition: background-color .5s ease;
		-moz-transition: background-color .5s ease;
		-o-transition: background-color .5s ease;
		-ms-transition: background-color .5s ease;
		transition: background-color .5s ease;
		// &:hover,
		// &:focus {
		// 	background-color: $bb-bg3-light;
		// }
		// &.active {
		// 	background-color: $bb-secondary;
		// }
	}
}

.avatar {
	height: auto !important;
	// margin: 15px 0 0 0;
	padding: 11px 0 !important;
	.mat-card-header {
		padding-top: 20px !important;
		
		.mat-card-subtitle {
			font-size: 0.8em;
			color: darken($mi-font3, 50);
		}
	}
}

.mat-card {
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent !important;
	color: white;
}